<div id="treeview" class=""></div>
<script type="text/javascript">
  $(function() {
    var json = <%= raw(@json_data) %>;
    var $tree = $('#treeview12').treeview({
      data: json
    });
  });
</script>