<div id="home_div">
  <h2>Homepage Content</h2>
  <p>Home page of insurance quote system. Bootstrap and jquery is initialized.</p>
  <p>
    This is customized home page for <%= current_user.name %>
  </p>
</div>

