<% content_for :head do %>
  <script type="text/javascript">
    var treeview_data = <%= raw(@treeview_data.to_json) %>;
    $(function() {
      $('div#treeview').treeview(treeview_data);
    });
  </script>
<% end %>

<div id="treeview" class="col-sm-6">treeview-content</div>
