<% content_for :head do %>
  <%= javascript_include_tag :pretty_view %>
  <script type="text/javascript">
    var treeview_data = <%= raw(@treeview_data.to_json) %>;
    var component_list = <%= raw(@component_list.to_json) %>;
  </script>
<% end %>

<div id="treeview" class="col-sm-6">treeview-content</div>
