<% content_for :head do %>
  <style>
    .draggable { width: 150px; height: 150px; padding: 0.5em; }
    #container { width: 1000px; height: 700px; border: 1px solid red;}
  </style>
  <script type="text/javascript">
    $( function() {
      $(".draggable").draggable({ containment: '#container', scroll: true});
    });
  </script>
<% end %>

<div id="container">
<div class="draggable ui-widget-content">
  <p>Drag me around</p>
</div>
<div class="draggable ui-widget-content">
  <p>Second draggable</p>
</div>
</div>
