body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

#alert {
  color: red;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

// custom css starts here
.footer {
  clear:both;
}

div#content, div#notice, div#alert {
  margin-left: 10px;
}

div#properties {
  border: 1px solid gray;
  padding: 10px;
  margin: 5px;
}

div#playground_header {
  margin: 5px;
}

div#playground {
  padding: 10px;
  margin: 5px;
  border: 1px solid red;
  width: 600px;
  height: 500px;
  background-color: powderblue;
}

div.element {
  height: 20px;
  width: 100px;
  text-align: center;
  border: 1px solid blue;
  background-color: yellow;
}

div.element.current {
  border: 1px solid green;
  background-color: lightgray;
}

div#debug {
  // display: none;
  width: 500px;
  height: 400px;
  border: 1px solid gray;
  background-color: lightgray;
}

div#preview {
  margin: 10px;
  padding: 10px;
  width: 800px;
  height: 500px;
  border: 1px solid black;
}

table.simple {
  border-collapse: collapse;
  border: 1px solid gray;

  th, td {
    border: 1px solid gray;
    padding: 1px;
  }
}

span.required {
  color: red;
}

div.heading {
  font-weight: bold;
  padding: 3px;
  background-color: #ff0000;
  border: 1px solid black;
}