<!DOCTYPE html>
<html>
<head>
  <title>Loc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='header'>
    <h1 align="center">Lines of Code Application</h1>
    <h2 align="center">Also tool for reviewing and KT </h2>
  </div>
<%= yield %>

</body>
</html>
